@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Oswald:400,700|Pattaya&display=swap&subset=cyrillic');

@mixin oswald {
  font-family: 'Oswald', sans-serif;
}

@mixin pattaya {
  font-family: 'Pattaya', sans-serif;
}

@mixin comfortaa {
  font-family: 'Comfortaa', cursive;
}